@model MPA.Models.ReceivedPageVM

@{
ViewData["Title"] = "Add New Tenants";
}

<div class="card card-primary mb-5 card-outline">
    <div class="card-header">
        <div class="wrapper-inner-card d-flex justify-content-between align-items-center">
            <h3 class="card-title">Edit Order Price</h3>
            <a asp-action="Index" class="btn btn-light">Cancel</a>
        </div>
    </div>
    <div class="col-md-12 card-body">
        <form asp-action="EditOrderPrice" enctype="multipart/form-data" class="">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="OrderNumber" for="order-number"></label>
                    <input asp-for="OrderNumber" placeholder="Enter Order number" class="form-control"
                        id="order-number">
                    <span asp-validation-for="OrderNumber" class="invalid-feedback"></span>
                </div>
            </div>
            <div class="form-row py-1 d-flex">
                <div class="form-group col-md-2 mr-auto ">
                    <button type="submit" value="Validate"
                        class="btn btn-primary col fileinput-button dz-clickable">Next</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
