@model MPA.Models.OrderVM
@{
    ViewData["Title"] = "Order successful";
}


<div class="card text-center" >
  <div class="card-body">
    <h3 class="text-center">Success</h3>
    <div>
<i class="bi bi-check"></i>
    </div>
    <p class="card-text">Order: @Html.DisplayFor(model => model.OrderNumber) has been created</p>
    <a href="#" class="btn btn-primary">Ok</a>
  </div>
</div>


