@model MPA.Models.ViewRecievePageVM


<h3>Recieve Order from <b> @Model.OrderVM.Supplier.Name </b> </h3>


        @for (int i = 0; i < Model.AlloyOrderList.Count(); i++)
        {
        <p>Hello beautiful world</p>

        }
       

