@model IEnumerable<MPA.Models.EmailItemVM>

@{
  ViewData["Title"] = "Supplier List";
}

<div class="card card-primary card-outline">
  <div class="card-header">
    <div class="wrapper-inner-card d-flex justify-content-between align-items-center">
      <h3 class="card-title"> Emails List</h3>

    <a asp-action="Index" class="btn btn-light" >Back</a>
    </div>
  </div>

  <div class="card-body pb-5">
    @if (Model.Count() == 0)
    {
      <p>No emails for this supplier</p>
    }
    else
    {
      @foreach (var item in Model)
      {
        <button type="button" class="btn btn-default mb-3" data-toggle="modal" data-target="#modal-overlay">
          @Html.DisplayFor(modelItem => item.Email) @* <i class="fas fa-edit"></i> *@
        </button>
        <br />

      }
    }

  </div>
</div>
