
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="email"></label>
          <div class="input-group">
              <input type="email"  required class="form-control">
          </div>
        </div>
      </div>
